<div class="portlet flex flex-col flex-grow bg-white">
  <div class="portlet__head flex  items-center relative h-16 separator">
    <div class="portlet__head-caption px-6">
      <div class="portlet__head-title h-full">
        <h3 class="portlet__head-text font-semibold text-lg align-middle">Quick Actions</h3>
      </div>
    </div>
  </div>
  <div class="portlet__body">
    <div class="grid grid-cols-2">
      <div *ngFor="let action of quickActions"
           class="h-24 flex border-r border-b border-solid border-gray-500 items-center content-center justify-center cursor-pointer hover:bg-gray-200">
        <div class="text-xs">
          <i [innerHTML]="action.icon | safeHtml"></i>
          <span class="mt-2">{{action.name}}</span>
        </div>
      </div>
    </div>
  </div>
</div>
