$primary-color: (
  50 : #e5e5ec,
  100 : #bebecf,
  200 : #9393af,
  300 : #68678f,
  400 : #474777,
  500 : #27265f,
  600 : #232257,
  700 : #1d1c4d,
  800 : #171743,
  900 : #0e0d32,
  A100 : #6e6eff,
  A200 : #3b3bff,
  A400 : #0808ff,
  A700 : #0000ee,
  contrast: (
    50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #ffffff,
    400 : #ffffff,
    500 : #ffffff,
    600 : #ffffff,
    700 : #ffffff,
    800 : #ffffff,
    900 : #ffffff,
    A100 : #ffffff,
    A200 : #ffffff,
    A400 : #ffffff,
    A700 : #ffffff,
  )
);

$secondary-color: (
  50 : #fde8f2,
  100 : #fac6de,
  200 : #f6a0c9,
  300 : #f279b3,
  400 : #f05da2,
  500 : #ed4092,
  600 : #eb3a8a,
  700 : #e8327f,
  800 : #e52a75,
  900 : #e01c63,
  A100 : #ffffff,
  A200 : #ffe2ec,
  A400 : #ffafc9,
  A700 : #ff96b8,
  contrast: (
    50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #000000,
    400 : #000000,
    500 : #ffffff,
    600 : #ffffff,
    700 : #ffffff,
    800 : #ffffff,
    900 : #ffffff,
    A100 : #000000,
    A200 : #000000,
    A400 : #000000,
    A700 : #000000,
  )
);

$grey: (
  50 : #fefefe,
  100 : #fbfcfc,
  200 : #f9fafa,
  300 : #f7f7f8,
  400 : #f5f6f7,
  500 : #f3f4f5,
  600 : #f1f3f4,
  700 : #eff1f2,
  800 : #edeff0,
  900 : #eaecee,
  A100 : #ffffff,
  A200 : #ffffff,
  A400 : #ffffff,
  A700 : #ffffff,
  contrast: (
    50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #000000,
    400 : #000000,
    500 : #000000,
    600 : #000000,
    700 : #000000,
    800 : #000000,
    900 : #000000,
    A100 : #000000,
    A200 : #000000,
    A400 : #000000,
    A700 : #000000,
  )
);

