@import '../../node_modules/@angular/material/_theming.scss';

$primary-color: (
  50: #e8eaf6,
  100: #c5cae9,
  200: #9fa8da,
  300: #7986cb,
  400: #5c6bc0,
  500: #27265F,
  600: #3949ab,
  700: #303f9f,
  800: #283593,
  900: #1a237e,
  A100: #8c9eff,
  A200: #536dfe,
  A400: #3d5afe,
  A700: #304ffe,
  contrast: (
    50: $dark-primary-text,
    100: $dark-primary-text,
    200: $dark-primary-text,
    300: $light-primary-text,
    400: $light-primary-text,
    500: $light-primary-text,
    600: $light-primary-text,
    700: $light-primary-text,
    800: $light-primary-text,
    900: $light-primary-text,
    A100: $dark-primary-text,
    A200: $light-primary-text,
    A400: $light-primary-text,
    A700: $light-primary-text,
  )
);

$secondary-color: (
  50 : #fde8f2,
  100 : #fac6de,
  200 : #f6a0c9,
  300 : #f279b3,
  400 : #f05da2,
  500 : #ed4092,
  600 : #eb3a8a,
  700 : #e8327f,
  800 : #e52a75,
  900 : #e01c63,
  A100 : #ffffff,
  A200 : #ffe2ec,
  A400 : #ffafc9,
  A700 : #ff96b8,
  contrast: (
    50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #000000,
    400 : #000000,
    500 : #ffffff,
    600 : #ffffff,
    700 : #ffffff,
    800 : #ffffff,
    900 : #ffffff,
    A100 : #000000,
    A200 : #000000,
    A400 : #000000,
    A700 : #000000,
  )
);

$grey: (
  50 : #fefefe,
  100 : #fbfcfc,
  200 : #f9fafa,
  300 : #f7f7f8,
  400 : #f5f6f7,
  500 : #f3f4f5,
  600 : #f1f3f4,
  700 : #eff1f2,
  800 : #edeff0,
  900 : #eaecee,
  A100 : #ffffff,
  A200 : #ffffff,
  A400 : #ffffff,
  A700 : #ffffff,
  contrast: (
    50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #000000,
    400 : #000000,
    500 : #000000,
    600 : #000000,
    700 : #000000,
    800 : #000000,
    900 : #000000,
    A100 : #000000,
    A200 : #000000,
    A400 : #000000,
    A700 : #000000,
  )
);

