/* You can add global styles to this file, and also import other style files */
@import "styles/theme.scss";
@import "styles/tailwind.scss";
@import url("https://cdn.jsdelivr.net/npm/flat-icons@1.0.0/creative.css");
@import url("https://cdn.jsdelivr.net/npm/flat-icons@1.0.0/interface.css");
@import url("https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css");

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');


html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Poppins, "Helvetica Neue", sans-serif;
}

.separator {
  @apply border-b border-gray-400 border-solid;
}

// Material Tabs Border
.mat-tab-group.mat-primary .mat-ink-bar,
.mat-tab-nav-bar.mat-primary .mat-ink-bar {
  @apply bg-indigo-500;
}

// Material Tabs
.mat-tab-link {
  &.mat-tab-label-active {
    @apply text-indigo-500 opacity-100;
  }
}

//Meterial Chips
.mat-chip.mat-standard-chip.mat-chip-selected {
  @apply text-xs;

  &.secondary {;
    @apply text-white bg-green-500;
  }

  &.gray {
    @apply bg-gray-700 text-white;
  }
}
